html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    background-color: #EEEDED;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b3b1b1;
    padding: 20px;
 
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  
  .logo img {
    width: 270px;
    height: 50px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 30px;
    font-family: monospace;
  }
  
  nav li {
    margin-left: 15px;
    padding-left: 40px;
    padding-right: 40px;    
  }
  
  nav a {
    text-decoration: none;
    color: #0D1282;
    font-weight: bold;
 
  }
  
  .banner {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
  }
  



.hamburger {
    display: none;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: #0D1282;
    margin: 5px;
  }
  

  
.banner_text { 
    font-size: 30px;
    font-family: monospace;
    padding-left: 30px;
}


table {
    text-align: center;
    line-height: 150%;
    margin: auto;
}


.cat_h2 { 
    margin: auto; 
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    margin-top: 60px;
    
}

.cat_a {
    text-decoration: none;
    color: #0D1282;
}

.cat_a:hover { 
    color: #D71313;
}

.price {
    font-family: monospace;
    font-size: 15px;

}

.price_a { 
    text-decoration: none;
    color: #0D1282;
}

.price_a:hover { 
    color: #D71313;
}


hr {
    height: 50px;
}

.cat_img {
    width: 300px;
    height: 500px;

}

.cat_item { 
    padding: 20px;
}

footer { 
    margin-top: 40px;
    font-family: monospace;
    font-size: 20px;
    background-color:#b3b1b1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}


#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #0D1282;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#backToTopBtn:hover {
  background-color: #D71313;
}


#backToTopBtn.show {
  display: block;
}

.footer_nav ul {

  list-style: none;

  margin: 10px;
  margin: auto;
  
}

.footer_nav li {
  display: inline-block;
  margin: 0 15px;
  margin-top: 40px;
}

.footer-nav a {
  text-decoration: none;
  color: #0D1282;
}
.footer-nav a:hover {
  color: #D71313;
}

.footer_ul {
  font-size: 20px;
}


.info { 
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: monospace;
}


.cat_h3 { 
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}

.book_h2 { 
  font-family: monospace;
  font-size: 25px;
  padding-left: 30px;
}

.book_detail {
  padding-top: 30px;
  padding-bottom: 20px;
  max-width: 1400px;
  margin: auto;
  display: flex;

}
.bookpics {
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.book_description {
font-family: monospace;
font-size: 20px;
margin-left: 30px;
} 


.main_view img {
  width: 500px;
  height: 800px;
  object-fit: cover;
}

.side_view {
  display: flex inline;
  justify-content: center;
  flex-wrap: wrap;
}

.side_view img {
  width: 120x;
  height: 210px;
  object-fit: cover;
  cursor: pointer;
  margin: 20px; 
}

.add_button { 
    background-color: #0D1282;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 767px) {
  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #EEEDED;
  }

  .nav-links.show li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }
}


.scifi { 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sports { 
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.banner-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

/* CSS for Small and Mobile Screens */
@media (max-width: 767px) {
  .logo img {
    width: 200px;
    height: 40px;
  }



  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #EEEDED;
  }

  .nav-links.show li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }


  .banner-image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
 table {
    display: block;
}

 td {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.cat_item {
    margin: auto;
}

.cat_img {
    max-width: 100%;
    height: auto;
}
.footer_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_nav li {
  margin: 5px 0;
  padding-top: 20px;
}
}


/* CSS for Medium and Tablet Screens */
@media (min-width: 768px) and (max-width: 991px) {
  .logo img {
    width: 220px;
    height: 45px;
  }
}


/* CSS for Large and Desktop/Laptop Screens */
@media (min-width: 992px){

}